@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Slab:wght@600&display=swap");

.carousel-caption .an1s {
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  animation-delay: 1s;
}
.carousel-caption .an2s {
  animation: bounceInRight;
  animation-delay: 2s;
  animation-duration: 1s;
}
.carousel-caption .an3s {
  animation: fadeInUp;
  animation-duration: 2s;
  animation-delay: 3s;
}
.carousel .carousel-item img {
  height: 300px;
}

.element-cen {
  color: black;
}
.jumbotron {
  background: transparent;
}

.carousel-inner {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.carousel-caption {
  padding-bottom: 100px;
}
.carousel-caption h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
}
.carousel-caption h2 span {
  color: #edbb00;
}
.carousel-caption a {
  background: #edbb00;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: aliceblue;
  text-transform: uppercase;
  border-radius: 25px;
}
.carousel-indicators .active {
  background-color: #edbb00;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@media only screen and (max-width: 575.98px) {
  .w-100 {
    width: 100% !important;
    height: 45vh !important;
  }
  .carousel-caption {
    padding-bottom: 0;
  }
  .carousel-caption h2 {
    padding-top: 20px;
    font-size: 25px !important;
  }
  .carousel-caption h3 {
    font-size: 20px;
  }
  .carousel-caption a {
    background: #edbb00;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .w-100 {
    width: 100% !important;
    height: 70vh !important;
  }
  .carousel-caption {
    padding-bottom: 0;
  }
  .carousel-caption h2 {
    font-size: 30px !important;
  }
  .carousel-caption h3 {
    font-size: 20px;
  }
  .carousel-caption a {
    background: #edbb00;
    display: inline-block;
    margin-top: 25px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 5px;
    padding: 10px 15px;
  }
  .carousel-caption p a {
    margin-top: 20px;
    font-size: small;
  }
}

@media only screen and (min-width: 991.98px) {
  .w-100 {
    width: 100% !important;
    height: 70vh !important;
  }
}

@media only screen and (min-width: 1199.98px) {
  .w-100 {
    width: 100% !important;
    height: 70vh !important;
  }
}
