@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);

.container .row h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: green;
  border-bottom: 3px solid green;
  display: inline-block;
}
.container .row h1:hover {
  font-size: 3rem;
  cursor: pointer;
}
.profile-card-5 {
  margin-top: 20px;
  background-color: rgb(89, 207, 74);
}
.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}
.profile-card-5 .card-img-block {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -20px;
  background: white;
}
.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  max-width: 100%;
}
.profile-card-5 h5 {
  color: white;
  font-weight: 600;
}
.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}
.profile-card-5 .btn-primary {
  text-decoration: none;
  background: transparent;
}
